<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
  </head>
  <body style="margin:0;font-family: sans-serif;">
    <%- header %>
    <%- home %>
    <%- food %>
    <%- games %>
    <%- footer %>
  </body>
</html>